
.main{
    height: 90%;
}

.hero{
    padding: 10px 10px 10px 10px;

    width: 500px;
    height: 200px;
    border: darkcyan 1px solid;
    align-self: center;
    margin: auto;
}

.toDoList{
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: darkcyan 1px solid;
    width: 27%;
    height: 750px;  
}

.achievements{
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: darkcyan 1px solid;
    width: 70%; 
    height: 750px;   
}

h4{
    color: cadetblue;
}

h4 span{
    padding: 10px;
}