<!--The content below is only a placeholder and can be replaced.-->

<div class="main">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div class="hero">
      <fa name="user-circle" size="2x"></fa><h4>Hero</h4>      
    
  </div>

  <div class="toDoList">
      <fa name="list" size="2x"></fa><h4>ToDo list</h4>
  </div>

  <div class="achievements">
      <fa name="trophy" size="2x"></fa><h4>Achievements</h4>
  </div>

</div>
<router-outlet></router-outlet>
